services:
 
  mysql_db:
    image: mysql:8.0
    container_name: itau-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'admin_password_123' 
      MYSQL_DATABASE: 'itau_corretora_db'
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql


  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: itau-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000


  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: itau-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

volumes:
  mysql_data: 
